// Define variables for your color scheme

// For example:
$red: #d34646;
$blue: #290dfd;
$yellow: #bd9f52;
$orange: #da6d24;
$green: #297637;
$dark-gray: #160d33;
$light-gray: #f2f2f7;
$gray: #c2bfcb;
