// Specific CSS for your home-page
.cards-container {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  display: grid;
  a {
    color: black !important;
  }
  a:hover {
    opacity: 0.8;
  }
}

@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
 }
