<div class="home-banner">
  <div class="header">
    <h1 class="mb-3">Book cool pools</h1>
    <%= form_tag pools_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a pool"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
