.form-lewagon {
  background-color: #bcedff;
  margin: auto;
  border: 1px solid #0d28fe;
  width: 30%;
  background-color: aquamarine !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

h2 {
  color:purple;
}

.simple_form {
 color:red;
 background:green;
}

.form_select{
  background-color: yellow !important;
}
