.notice {
  background-color: $green;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-bottom: 0;

}

.home-notice, .search-notice {
  z-index: 1;
  position: relative;
}

.search-notice-home {
  background-color: $red;
}
